:root {
  --bs-primary:#BD7E0A;
  --bs-secondary:#0f0715;
  --bs-primary-rgb: 171, 137, 101;
  --bs-dark: #181818;
  --bs-font: 'Sora';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sora';
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body{
    font-family: 'Sora', sans-serif;
}
/* navbar */
.nav-logo img {
  height:30px;
}
.dropdown-toggle::after {
  content: "\F282";
  border: 0;
  font-family: bootstrap-icons !important;
  font-size: 10px;
  line-height: 15px;
}
.navbar-nav .nav-item ul li a:hover,
.nav-item .nav-link:hover {
  color: var(--bs-primary);
  text-decoration: underline;
}
.btns ul li a i:hover{
 color:var(--bs-secondary);
}
.destination .des-img img{
    width:200px;
    height:200px;
}
.img2 img{
     width:250px;
     height:260px;
}
.fresh-img img{
    width:400px;
    height:350px;
    border-radius:10px;
}
.cup-text h3{
   font-size:45px;
   color:white;
   font-weight:500;
   position: absolute;
   font-family: 'Carattere';
   top:93%;
   left:9%;
   letter-spacing:2.36px;
}
.hero-text {
  font-size: 2.5rem;
  font-weight: 500;
}
.subtext {
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: #999;
  padding:5px 20px;
  border:1px solid #CECECE;
  text-align: center;
  display: flex;
  justify-content: center;
}
.hero-img {
  max-width: 100%;
  height: auto;
  transition: all 0.5s ease;
}
.side-card {
  background-color: #fff;
  padding: 10px;
  text-align: center;
}
.side-card img {
  width: 100%;
  height: auto;
  transition: all 0.2s ease;
  overflow: hidden;
  object-fit: cover;
}
.label-title {
  font-size: 1rem;
  color: #333;
  margin-top: 10px;
}
.label-sub {
  font-size: 0.8rem;
  color: #777;
}
.side-card:hover img{
  transform: scale(1.05);
  border: 1px solid #CECECE;
}
.big-banner:hover{
  border: 1px solid #CECECE;
}
/* card */

.image-wrapper , .image-wrapper2{
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
.image-wrapper img , .image-wrapper2 img{
  width: 100%;
  display: block;
}
.hover-btn , .hover-btn2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}
.hover-btn .plus {
  border: 1px solid black;
  border-radius: 50%;
  padding: 0 8px;
}
.image-wrapper:hover .hover-btn , .image-wrapper2:hover .hover-btn2{
  opacity: 1;
}
/* form */

.form-container {
  min-height: 100vh;
  display: flex;
}
.form-box {
  padding: 60px;
  background-color: #fff;
}
.form-control:focus {
  box-shadow: none;
  border-color: #000;
}
.register-btn {
  background-color:#333;
  color: #fff;
  border: none;
}
.register-btn:hover {
  background-color:#000;
  color: white;
}
.accordion-body ul li a{
  color:#a9a6a6;
}
.accordion-body ul li a:hover{
  color:var(--bs-secondary);
}